<!DOCTYPE html>
<html>
    <body>
        <head>
            <link rel="stylesheet" href="static/styles.css">
        </head>
        
        <div class="outside">
            
            <div class="a">
                <h1>
                    <center>Welcome, [Username]</center>
                </h1>
                <h2>
                    <center>Total profile value:</center>
                </h2>
                <h3>
                    <center>$[Value]</center>
                </h3>
        
                <div class="wrapper">
                    
                    <div class="c">
                        <h4>
                            <center>Here is how your portfolio has performed over the last [#] days:</center> <br>
                            <img src="static/stonks.jpg" style="width: 100%; min-width=100px;">     
                        </h4>
                    </div>
                    
                    <div class="d">
                        <h5>
                          <center>Here are stonks you currently own:</center><br>
                        </h5>
                        <h6>
                                <ul>
                                    <li> Stonk 1: $X</li>
                                    <li> Stonk 2: $X</li>
                                    <li> Stonk 3: $X</li>
                                    <li> Stonk 4: $X</li>
                                    <li> Stonk 5: $X</li>
                                    <li> Stonk ...: $X</li>
                                    <li> Stonk N: $X</li>
                                </ul>
                        </h6>
                    </div>
                
                    <div class="e">
                        <center>What would you like to do?</center><br>
                        <div class="buttons">
                            <button type="button">Buy Stonks</button>
                            <button type="button">Sell Stonks</button>
                            <button type="button">View Leaderboard</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>