<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="static/styles.css"></head>
<body>
<div class="outside">
    <div class="a">
        <h1> <center> Welcome to Stonks.io </center> </h1>
        <h2> <center> A place where you can safely hone your investing skills</center></h2>

        <div class="b">
            <h3> <center> Log in to view your portfolio </center> </h3>

            <form id="userinput"> 
                <input type="text" id="username" name="username" placeholder="Username"><br>
                <input type="text" id="password" name="password" placeholder="Password"><br>
                <input type="submit" value="Log in"><br>
            </form>
            <br>
            <a href="register">Or, create a new account</a>
        </div>
    </div>
</div>
</body>    
</html>